# Ejercicio SQL
Para este ejercicio usaremos una base de datos de Pokemon. **Asegúrante que tienes el archivo "pokemon.sqlite" en la misma carpeta donde está este Notebook**. Esta base de datos solamente contiene una tabla llamada `pokemon`


Realiza los siguientes apartados:

1. Obten una tabla con todos los campos
2. Obten una tabla con los campos "Name", "Type 1", "Type 2"
3. Obten la misma tabla que el apartado anterior, pero en este caso renombrando los campos al castellano.
4. ¿Cuales son todos los "Type 1" diferentes?
5. ¿Cuales son todos los "Type 1" y "Type 2" diferentes?
6. ¿Cuáles son los pokemon de agua? "Type 1" = "Water"
7. Obtén una tabla con los pokemon legendarios
8. Obtén una tabla con los pokemon legendarios de fuego ("Type 1" = "Fire")
9. Obtén una tabla con los pokemon cuyo nombre empieze por "W" y tenga una defensa mayor de 100 puntos
10. Saca una tabla con los pokemon de la primera generación, que NO sean "Type 1" = "Psychic" y tengan una velocidad superior a 130
11. ¿Cuál es el pokemon con el ataque más alto?
12. ¿Cuál es la media de la defensa de todos los pokemon?
13. ¿Cuál es la media de la defensa por generación?
14. Calcula el máximo HP por "Type 1"

**NOTA**: se recomienda añadir un `LIMIT 5` en la mayoría de apartados para evitar grandes outputs de las queries.

In [1]:
import sqlite3
import pandas as pd

In [2]:
# Conectamos con la base de datos pokemon.sqlite
connection = sqlite3.connect("pokemon.sqlite")

# Obtenemos un cursor que utilizaremos para hacer las queries
crsr = connection.cursor()

# Con esta función leemos los datos y lo pasamos a un DataFrame de Pandas
def sql_query(query):

    # Ejecuta la query
    crsr.execute(query)

    # Almacena los datos de la query 
    ans = crsr.fetchall()

    # Obtenemos los nombres de las columnas de la tabla
    names = [description[0] for description in crsr.description]

    return pd.DataFrame(ans,columns=names)

In [3]:
# 1. Obten una tabla con todos los campos
query = '''
SELECT *
FROM pokemon
'''
sql_query(query)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,0
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,0
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,0
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,0
4,4,Charmander,Fire,None,309,39,52,43,60,50,65,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,1
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,1
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,1
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,1
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,1

In [4]:
# 2. Obten una tabla con los campos "Name", "Type 1", "Type 2"
query = '''
SELECT Name, "Type 1", "Type 2"
FROM pokemon
'''
sql_query(query)

                      Name   Type 1  Type 2
0                Bulbasaur    Grass  Poison
1                  Ivysaur    Grass  Poison
2                 Venusaur    Grass  Poison
3    VenusaurMega Venusaur    Grass  Poison
4               Charmander     Fire    None
..                     ...      ...     ...
795                Diancie     Rock   Fairy
796    DiancieMega Diancie     Rock   Fairy
797    HoopaHoopa Confined  Psychic   Ghost
798     HoopaHoopa Unbound  Psychic    Dark
799              Volcanion     Fire   Water

[800 rows x 3 columns]

In [5]:
# 3. Obten la misma tabla que el apartado anterior, pero en este caso renombrando los campos al castellano.
query = '''
SELECT Name AS Nombre, "Type 1" AS "Tipo 1", "Type 2" AS "Tipo 2"
FROM pokemon
'''
sql_query(query)

                    Nombre   Tipo 1  Tipo 2
0                Bulbasaur    Grass  Poison
1                  Ivysaur    Grass  Poison
2                 Venusaur    Grass  Poison
3    VenusaurMega Venusaur    Grass  Poison
4               Charmander     Fire    None
..                     ...      ...     ...
795                Diancie     Rock   Fairy
796    DiancieMega Diancie     Rock   Fairy
797    HoopaHoopa Confined  Psychic   Ghost
798     HoopaHoopa Unbound  Psychic    Dark
799              Volcanion     Fire   Water

[800 rows x 3 columns]

In [ ]:
# 4. ¿Cuales son todos los "Type 1" diferentes?

In [ ]:
# 5. ¿Cuales son todos los "Type 1" y "Type 2" diferentes?

In [ ]:
# 6. ¿Cuáles son los pokemon de agua? "Type 1" = "Water"

In [ ]:
# 7. Obtén una tabla con los pokemon legendarios

In [ ]:
# 8. Obtén una tabla con los pokemon legendarios de fuego ("Type 1" = "Fire")

In [ ]:
# 9. Obtén una tabla con los pokemon cuyo nombre empieze por "W" y tenga una defensa mayor de 100 puntos

In [ ]:
# 10. Saca una tabla con los pokemon de la primera generación, que NO sean "Type 1" = "Psychic" y tengan una velocidad superior a 130

In [ ]:
# 11. ¿Cuál es el pokemon con el ataque más alto?

In [ ]:
# 12. ¿Cuál es la media de la defensa de todos los pokemon?

In [ ]:
# 13. ¿Cuál es la media de la defensa por generación?

In [ ]:
# Apartado 14. Calcula el máximo HP por "Type 1"