## Ejercicio 1
Importa la libreria de pandas. ¿Qué versión de la librería tienes?

In [1]:
import pandas as pd
print(pd.__version__)

1.5.0

## Ejercicio 2
Lee el archivo CSV de la liga. Guarda el DataFrame en una variable llamada `df`. [Usa el método `read_csv` de `pandas`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html).

In [2]:
df = pd.read_csv("laliga.csv")
df

,Unnamed: 0,season,division,round,localTeam,visitorTeam,localGoals,visitorGoals,date,timestamp
0,26201,2005-06,1,1,Atletico de Bilbao,Real Sociedad,3,0,27/08/2005,1125093600
1,26202,2005-06,1,1,Alaves,Barcelona,0,0,27/08/2005,1125093600
2,26203,2005-06,1,1,Valencia,Betis,1,0,27/08/2005,1125093600
3,26204,2005-06,1,1,Atletico de Madrid,Zaragoza,0,0,28/08/2005,1125180000
4,26205,2005-06,1,1,Cadiz,Real Madrid,1,2,28/08/2005,1125180000
...,...,...,...,...,...,...,...,...,...,...
4935,36680,2017-18,1,38,Villarreal,Real Madrid,2,2,19/05/2018,1526680800
4936,36681,2017-18,1,38,Atletico de Bilbao,Espanol,0,1,20/05/2018,1526767200
4937,36682,2017-18,1,38,Barcelona,Real Sociedad,1,0,20/05/2018,1526767200
4938,36683,2017-18,1,38,Valencia,Deportivo,2,1,20/05/2018,1526767200
4939,36684,2017-18,1,38,Atletico de Madrid,Eibar,2,2,20/05/2018,1526767200

## Ejercicio 3
Obtén por pantalla los 4 primero registros

In [3]:
df.head(4)

,Unnamed: 0,season,division,round,localTeam,visitorTeam,localGoals,visitorGoals,date,timestamp
0,26201,2005-06,1,1,Atletico de Bilbao,Real Sociedad,3,0,27/08/2005,1125093600
1,26202,2005-06,1,1,Alaves,Barcelona,0,0,27/08/2005,1125093600
2,26203,2005-06,1,1,Valencia,Betis,1,0,27/08/2005,1125093600
3,26204,2005-06,1,1,Atletico de Madrid,Zaragoza,0,0,28/08/2005,1125180000

## Ejercicio 4
Obtén en un array de `numpy` todos los valores del DataFrame

In [4]:
df.values

array([[26201, '2005-06', 1, ..., 0, '27/08/2005', 1125093600],
       [26202, '2005-06', 1, ..., 0, '27/08/2005', 1125093600],
       [26203, '2005-06', 1, ..., 0, '27/08/2005', 1125093600],
       ...,
       [36682, '2017-18', 1, ..., 0, '20/05/2018', 1526767200],
       [36683, '2017-18', 1, ..., 1, '20/05/2018', 1526767200],
       [36684, '2017-18', 1, ..., 2, '20/05/2018', 1526767200]],
      dtype=object)

## Ejercicio 5
¿Cuáles son las columnas de `df`?

In [5]:
df.columns

Index(['Unnamed: 0', 'season', 'division', 'round', 'localTeam', 'visitorTeam',
       'localGoals', 'visitorGoals', 'date', 'timestamp'],
      dtype='object')

## Ejercicio 6
Crea un `Series` con la [población de Madrid, Galicia, Murcia y Andalucía](https://es.wikipedia.org/wiki/Anexo:Comunidades_y_ciudades_aut%C3%B3nomas_de_Espa%C3%B1a). Llamalo `poblacion`. Créalo de dos maneras diferentes.

Madrid: 6685471

Galicia: 2698764

Murcia: 1494442

Andalucía: 8446561

In [6]:
poblacion = pd.Series([6685471,2698764,1494442,8446561], index=['Madrid','Galicia','Murcia','Andalucía'])
poblacion

Madrid       6685471
Galicia      2698764
Murcia       1494442
Andalucía    8446561
dtype: int64

In [7]:
poblacion2 = pd.Series({'Madrid':6685471,'Galicia':2698764, 'Murcia':1494442, 'Andalucía':8446561})
poblacion2

Madrid       6685471
Galicia      2698764
Murcia       1494442
Andalucía    8446561
dtype: int64

## Ejercicio 7
Obtén un array de `numpy` con los valores del `Series`.

Saca también sus índices, y los valores de sus índices.

In [8]:
poblacion.values

array([6685471, 2698764, 1494442, 8446561], dtype=int64)

In [9]:
poblacion.index

Index(['Madrid', 'Galicia', 'Murcia', 'Andalucía'], dtype='object')

In [10]:
poblacion

Madrid       6685471
Galicia      2698764
Murcia       1494442
Andalucía    8446561
dtype: int64

## Ejercicio 8
1. ¿Qué población hay en el primer elemento del `Series`?
2. ¿Qué población hay en Galicia?
3. Imprime por pantalla las poblaciones de Galicia, Andalucía y las comunidades autónomas que se encuentren entre ambas, dentro del `Series`.
4. Comprueba con un output booleano que `Galicia` se encuentra entre los índices del `Index`.
5. Realiza los apartados 1,2,3 pero esta vez de una manera diferente.

In [11]:
# 1. ¿Qué población hay en el primer elemento del `Series`?

print(poblacion[0])

6685471

In [12]:
#2. ¿Qué población hay en Galicia?

print(poblacion['Galicia'])

2698764

In [13]:
#3. Imprime por pantalla las poblaciones de Galicia, Andalucía y las comunidades autónomas que se encuentren entre ambas, dentro del `Series`.
print(poblacion[1:4])

Galicia      2698764
Murcia       1494442
Andalucía    8446561
dtype: int64

In [14]:
#4. Comprueba con un output booleano que `Galicia` se encuentra entre los índices del `Index`.

'Galicia' in poblacion.index

True

In [15]:
#5. Realiza los apartados 1,2,3 pero esta vez de una manera diferente.
print(poblacion['Madrid'])
print(poblacion[1])

6685471
2698764

## Ejercicio 9
A partir de las comunidades autónomas anteriores, crea un `Series` con [la tasa de paro](https://es.statista.com/estadisticas/941646/prevision-de-la-tasa-de-paro-por-comunidad-autonoma-espana/) en dichas comunidades autónomas.

Con la tasa de paro y las poblaciones, crea un DataFrame de pandas. Llámalo `data`.

Tasas de paro

Madrid: 9.99

Galicia: 11.74

Murcia: 16.08

Andalucía: 20.8

In [16]:
tasa_paro = pd.Series({'Madrid':9.99,'Galicia':11.74, 'Murcia':16.08, 'Andalucía':20.08})
tasa_paro

Madrid        9.99
Galicia      11.74
Murcia       16.08
Andalucía    20.08
dtype: float64

In [17]:
data = pd.DataFrame(tasa_paro, columns=['Tasa_Paro'])
data

data['Población'] = poblacion
print(data)

           Tasa_Paro  Población
Madrid          9.99    6685471
Galicia        11.74    2698764
Murcia         16.08    1494442
Andalucía      20.08    8446561

## Ejercicio 10
Imprime por pantalla la población, y la tasa de paro. Por separado

In [18]:
print(data[['Población','Tasa_Paro']])

           Población  Tasa_Paro
Madrid       6685471       9.99
Galicia      2698764      11.74
Murcia       1494442      16.08
Andalucía    8446561      20.08

In [19]:
print(data[['Población']])
print(data[['Tasa_Paro']])

           Población
Madrid       6685471
Galicia      2698764
Murcia       1494442
Andalucía    8446561
           Tasa_Paro
Madrid          9.99
Galicia        11.74
Murcia         16.08
Andalucía      20.08

## Ejercicio 11
Crea un nuevo Data Frame (`data2`), que sea igual que `data`, pero con una nueva columna, que lleve [la superficie de las Comunidades Autónomas](https://es.wikipedia.org/wiki/Anexo:Comunidades_y_ciudades_aut%C3%B3nomas_de_Espa%C3%B1a).

Madrid: 8028

Galicia: 29575

Murcia: 11314

Andalucía: 87599

In [22]:
superficie = pd.Series({'Madrid': 8028, 'Galicia': 29575, 'Murcia': 11314, 'Andalucía': 87599})
print(superficie)
print(data)
data2 = data
data2['Superficie'] = superficie
print(data2)

Madrid        8028
Galicia      29575
Murcia       11314
Andalucía    87599
dtype: int64
           Tasa_Paro  Población
Madrid          9.99    6685471
Galicia        11.74    2698764
Murcia         16.08    1494442
Andalucía      20.08    8446561
           Tasa_Paro  Población  Superficie
Madrid          9.99    6685471        8028
Galicia        11.74    2698764       29575
Murcia         16.08    1494442       11314
Andalucía      20.08    8446561       87599

## Ejercicio 12
Calcula en una nueva columna la densidad de población (hab/km^2)

In [24]:
data2['Densidad_Población'] = round(poblacion/superficie,2)
print(data2)

           Tasa_Paro  Población  Superficie  Densidad_Población
Madrid          9.99    6685471        8028              832.77
Galicia        11.74    2698764       29575               91.25
Murcia         16.08    1494442       11314              132.09
Andalucía      20.08    8446561       87599               96.42