In [ ]:
'''
ENUNCIADO:

Given two arrays a and b write a function comp(a, b) (orcompSame(a, b)) that checks whether the two arrays have the "same" elements, with the same multiplicities (the multiplicity of a member is the number of times it appears). "Same" means, here, that the elements in b are the elements in a squared, regardless of the order.

Examples
Valid arrays
a = [121, 144, 19, 161, 19, 144, 19, 11]  
b = [121, 14641, 20736, 361, 25921, 361, 20736, 361]
comp(a, b) returns true because in b 121 is the square of 11, 14641 is the square of 121, 20736 the square of 144, 361 the square of 19, 25921 the square of 161, and so on. It gets obvious if we write b's elements in terms of squares:

a = [121, 144, 19, 161, 19, 144, 19, 11] 
b = [11*11, 121*121, 144*144, 19*19, 161*161, 19*19, 144*144, 19*19]
Invalid arrays
If, for example, we change the first number to something else, comp is not returning true anymore:

a = [121, 144, 19, 161, 19, 144, 19, 11]  
b = [132, 14641, 20736, 361, 25921, 361, 20736, 361]
comp(a,b) returns false because in b 132 is not the square of any number of a.

a = [121, 144, 19, 161, 19, 144, 19, 11]  
b = [121, 14641, 20736, 36100, 25921, 361, 20736, 361]
comp(a,b) returns false because in b 36100 is not the square of any number of a.

Remarks
a or b might be [] or {} (all languages except R, Shell).
a or b might be nil or null or None or nothing (except in C++, COBOL, Crystal, D, Dart, Elixir, Fortran, F#, Haskell, Nim, OCaml, Pascal, Perl, PowerShell, Prolog, PureScript, R, Racket, Rust, Shell, Swift).
If a or b are nil (or null or None, depending on the language), the problem doesn't make sense so return false.

Note for C
The two arrays have the same size (> 0) given as parameter in function comp.
'''

In [3]:
a = [121, 144, 19, 161, 19, 144, 19, 11]  
b = [121, 14641, 20736, 361, 25921, 361, 20736, 361]

def comp(array1, array2):
    i = 0
    aBis = []
    while i < len(a)-1:
        for el in array1:
            aBis.append(el**2)
    resultado = []
    for el in aBis:
        if el in array2:
            resultado.append(True)
        else:
            resultado.append(False)
    print(resultado)
    return resultado

In [4]:
comp(a,b)

MemoryError:

In [ ]:
a = [121, 144, 19, 161, 19, 144, 19, 11]  
b = [121, 14641, 20736, 361, 25921, 361, 20736, 361]

def comp(array1, array2):
    i = 0
    resultado = []
    while i < len(a)-1:
        for el in array1:
            if el**2 in array2:
                resultado.append(True)
                i+=1
            else:
                resultado.append(False)
                i+=1
    return resultado

In [ ]:
comp(a,b)

In [ ]:
a1 = [121, 144, 19, 161, 19, 144, 19, 11]  
a2 = [121, 14641, 20736, 361, 25921, 361, 20736, 361]

def comp(array1, array2):
    i = 0
    while i < len(a)-1:
        for el in array1:
            for el in array2:
                if (array1[i])**2 in array2:
                    print(True)
                    i+=1
                else:
                    print(False)
                    i+=1

In [ ]:
# SoluciÃ³n de Rafa

In [11]:
import math

a = [121, 144, 19, 161, 19, 144, 19, 11]  
b = [121, 14641, 20736, 361, 25921, 361, 20736, 361]

def comp(a1,a2):
    s1 = set(a1)
    s2 = set(a2)

    for s in s1:
        if s**2 not in s2:
            return False
    for s in s2:
        if math.sqrt(s) not in s1:
            return False
    return True

In [12]:
comp(a,b)

True

In [ ]:
'''
Enunciado 2
Complete the solution so that it reverses the string passed into it.

'world'  =>  'dlrow'
'word'   =>  'drow'
'''

In [13]:
def solution(string):
    string2 = []
    for letra in string:
        string2.append(letra)
    string2.reverse()
    return ''.join(string2)

In [14]:
solution('abracadabra')

'arbadacarba'

In [ ]:
# Mejor

def solution(string):
    return ''.join.reversed(string)

'''
tambien con [::-1]
'''

In [15]:
solution('abracadabra')

'arbadacarba'

In [ ]:
'''
Enunciado 3
Complete the solution so that it returns true if the first argument(string) passed in ends with the 2nd argument (also a string).

Examples:

solution('abc', 'bc') # returns true
solution('abc', 'd') # returns false
'''

In [18]:
def solution(string, ending):
    i = -1
    for letra in ending:
        if ending[i] == string[i]:
            i-=1
            return True
        else:
            return False

In [22]:
solution('abcd','bcd')

True

In [ ]:
# CorrecciÃ³n Rafa
def solution(string, ending):
        return string[-len(ending):] == ending

In [23]:
solution('juan','an')

True

In [ ]:
'''
Your goal in this kata is to implement a difference function, which subtracts one list from another and returns the result.

It should remove all values from list a, which are present in list b keeping their order.

array_diff([1,2],[1]) == [2]
If a value is present in b, all of its occurrences must be removed from the other:

array_diff([1,2,2,2,3],[2]) == [1,3]
'''

In [3]:
def array_diff(a, b):
    for elb in b:
        for ela in a:
            if elb in a:
                a.remove(elb)
    return a

In [4]:
array_diff([1,3,2,3,4,3,5,3,6,3],[3])

[1, 2, 4, 5, 6]

In [6]:
# Mejor con comprensiÃ³n de listas

a = [1,2,3,3,4,4]
b = [1,4]

[el for el in a if el not in b]

[2, 3, 3]

In [18]:
def array_diff2(a, b):
    return [el for el in a if el not in b]

In [19]:
a = [1,2,3,3,4,4]
b = [1,4]

array_diff2(a,b)

[2, 3, 3]

In [ ]:
'''
The goal of this exercise is to convert a string to a new string where each character in the new string is "(" if that character appears only once in the original string, or ")" if that character appears more than once in the original string. Ignore capitalization when determining if a character is a duplicate.

Examples
"din"      =>  "((("
"recede"   =>  "()()()"
"Success"  =>  ")())())"
"(( @"     =>  "))((" 
Notes
Assertion messages may be unclear about what they display in some languages. If you read "...It Should encode XXX", the "XXX" is the expected result, not the input!
'''

In [16]:
def duplicate_encode(word):
    word = word.lower()
    coded = []
    for letra in word:
        word.count(letra)
        if word.count(letra) <= 1:
            coded.append('(')
        else:
            coded.append(')')
    return ''.join(coded)

In [17]:
duplicate_encode('antonio')

'()())()'

In [21]:
def codificador_duplicados(palabra):
    palabra = palabra.lower()
    resultado = ''
    for letra in palabra:
        if palabra.count(letra) == 1:
            resultado += '('
        else:
            resultado +=')'

    return resultado

In [22]:
codificador_duplicados('antonio')

'()())()'

In [ ]:
'''
There is a bus moving in the city, and it takes and drop some people in each bus stop.

You are provided with a list (or array) of integer pairs. Elements of each pair represent number of people get into bus (The first item) and number of people get off the bus (The second item) in a bus stop.

Your task is to return number of people who are still in the bus after the last bus station (after the last array). Even though it is the last bus stop, the bus is not empty and some people are still in the bus, and they are probably sleeping there :D

Take a look on the test cases.

Please keep in mind that the test cases ensure that the number of people in the bus is always >= 0. So the return integer can't be negative.

The second value in the first integer array is 0, since the bus is empty in the first bus stop.
'''

In [23]:
def total(a):
    suben=[]
    bajan=[]
    for i in a:
        suben.append(i[0])
        bajan.append(i[1])
    totalsuben=sum(suben)
    totalbajan=sum(bajan)
    total= totalsuben - totalbajan
    return total
total([[10,0],[3,5],[5,9]])

# Se puede hacer con una sola lista (por ejemplo pasajeros) en lugar de con dos (suben y bajan) para luego restarlo)

4

In [ ]:
'''
Write Number in Expanded Form
You will be given a number and you will need to return it as a string in Expanded Form. For example:

expanded_form(12) # Should return '10 + 2'
expanded_form(42) # Should return '40 + 2'
expanded_form(70304) # Should return '70000 + 300 + 4'
NOTE: All numbers will be whole numbers greater than 0.

If you liked this kata, check out part 2!!
'''

In [35]:
def expanded_form(num):
    numStr = str(num)
    cifras = len(numStr)
    if cifras

In [36]:
expanded_form(32)

2

In [37]:
def expanded_form2(num):
    string = str(num)

    var = []
    for i, t in enumerate(string):
        if t != '0':
            var.append(t + '0'*(len(string)-1-i))

    return " + ".join(var)

In [39]:
expanded_form2(70304)

'70000 + 300 + 4'

In [40]:
# Otra manera:

res = []
n = 70304
while len(str(n))>1:
    div = int('1'+'0'*(len(str(n))-1))
    print(div)
    aux = n
    aux = n%div
    res.append(n-aux)
    n=aux
res.append(n)
res

10000
100

[70000, 300, 4]

In [ ]:
'''
Implement the function unique_in_order which takes as argument a sequence and returns a list of items without any elements with the same value next to each other and preserving the original order of elements.

For example:

unique_in_order('AAAABBBCCDAABBB') == ['A', 'B', 'C', 'D', 'A', 'B']
unique_in_order('ABBCcAD')         == ['A', 'B', 'C', 'c', 'A', 'D']
unique_in_order([1,2,2,3,3])       == [1,2,3]

'''

In [52]:
def unique_in_order(iterable):
    lista = []
    for el in iterable:
        lista.append(el)
        if len(lista) >=2:
            if lista[-2] == lista[-1]:
                lista.pop()
    return lista

In [53]:
unique_in_order('AAAABBBCCDAABBB')

['A', 'B', 'C', 'D', 'A', 'B']

In [54]:
unique_in_order('ABBCcAD')

['A', 'B', 'C', 'c', 'A', 'D']

In [55]:
unique_in_order([1,2,2,3,3])

[1, 2, 3]

In [ ]:
Build a function that returns an array of integers from n to 1 where n>0.

Example : n=5 --> [5,4,3,2,1]

In [62]:
def reverse_seq(n):
    lista = []
    for i in range(n,0,-1):
        lista.append(i)
    return lista

In [63]:
reverse_seq(6)

[6, 5, 4, 3, 2, 1]

In [ ]:
# DIA 2

In [ ]:
'''
This time no story, no theory. The examples below show you how to write function accum:

Examples:
accum("abcd") -> "A-Bb-Ccc-Dddd"
accum("RqaEzty") -> "R-Qq-Aaa-Eeee-Zzzzz-Tttttt-Yyyyyyy"
accum("cwAt") -> "C-Ww-Aaa-Tttt"
The parameter of accum is a string which includes only letters from a..z and A..Z.
'''

In [1]:

s = 'abcd'
s_new = []
for letter in range(len(s)):
    l_new = s[letter] * (letter+1)
    s_new.append(l_new.title())
print(s_new)

['A', 'Bb', 'Ccc', 'Dddd']

In [2]:
def accum(s):
    s_new = []
    for letter in range(len(s)):
        l_new = s[letter] * (letter+1)
        s_new.append(l_new.title())
    return '-'.join(s_new)

In [ ]:
'''
Your task is to find the first element of an array that is not consecutive.

By not consecutive we mean not exactly 1 larger than the previous element of the array.

E.g. If we have an array [1,2,3,4,6,7,8] then 1 then 2 then 3 then 4 are all consecutive but 6 is not, so that's the first non-consecutive number.

If the whole array is consecutive then return null2.

The array will always have at least 2 elements1 and all elements will be numbers. The numbers will also all be unique and in ascending order. The numbers could be positive or negative and the first non-consecutive could be either too!

If you like this Kata, maybe try this one next: https://www.codewars.com/kata/represent-array-of-numbers-as-ranges

1 Can you write a solution that will return null2 for both [] and [ x ] though? (This is an empty array and one with a single number and is not tested for, but you can write your own example test. )

2
Swift, Ruby and Crystal: nil
Haskell: Nothing
Python, Rust, Scala: None
Julia: nothing
Nim: none(int) (See options)

'''

In [3]:
arr = [1,2,3,4,5,6,8,9]

array_checker = []
for i in arr:
    array_checker.append(i)
    if array_checker[-1] - i != 1:
        return null
        break

SyntaxError: 'return' outside function (3377016128.py, line 7)

In [16]:
arr = [1,2,3,4,5,6,7,8,9]

for i in range(len(arr)):
    if i!=len(arr)-1 and arr[i]+1 != arr[i+1]:
        print(arr[i+1])

In [17]:
def first_non_consecutive(arr):
    for i in range(len(arr)):
        if i!=len(arr)-1 and arr[i]+1 != arr[i+1]:
            return(arr[i+1])
    return None

In [18]:
first_non_consecutive(arr)

In [ ]:
'''
Your team is writing a fancy new text editor and you've been tasked with implementing the line numbering.

Write a function which takes a list of strings and returns each line prepended by the correct number.

The numbering starts at 1. The format is n: string. Notice the colon and space in between.

Examples: (Input --> Output)

[] --> []
["a", "b", "c"] --> ["1: a", "2: b", "3: c"]

'''

In [23]:
lines = ["a", "b", "c"]
i = 1
k=0
indx = []
for line in lines:
    indx.append((str(i)+': '+lines[k]))
    i+=1
    k+=1
    
indx

['1: a', '2: b', '3: c']

In [ ]:
def number(lines):
    i = 1
    k=0
    indx = []
    for line in lines:
        indx.append((str(i)+': '+lines[k]))
        i+=1
        k+=1

    return indx

In [ ]:
a = lines = ["a", "b", "c"]

res = []

for i, letra in enumerate(a):
    res.append(str(i+1))

In [ ]:
'''
You are given an odd-length array of integers, in which all of them are the same, except for one single number.

Complete the method which accepts such an array, and returns that single different number.

The input array will always be valid! (odd-length >= 3)

Examples
[1, 1, 2] ==> 2
[17, 17, 3, 17, 17, 17, 17] ==> 3
'''

In [25]:
L = [1, 1, 2]


for el in set(L):
    if L.count(el)==1:
        print(el)

2

In [ ]:
def stray(arr):
    for el in set(arr):
        if arr.count(el)==1:
            return(el)
        else:
            None

In [ ]:
'''
The number 89 is the first integer with more than one digit that fulfills the property partially introduced in the title of this kata. What's the use of saying "Eureka"? Because this sum gives the same number.

In effect: 89 = 8^1 + 9^2

The next number in having this property is 135.

See this property again: 135 = 1^1 + 3^2 + 5^3

We need a function to collect these numbers, that may receive two integers a, b that defines the range [a, b] (inclusive) and outputs a list of the sorted numbers in the range that fulfills the property described above.

Let's see some cases (input -> output):

1, 10 -> [1, 2, 3, 4, 5, 6, 7, 8, 9]

1, 100 -> [1, 2, 3, 4, 5, 6, 7, 8, 9, 89]
If there are no numbers of this kind in the range [a, b] the function should output an empty list.

90, 100 --> []
Enjoy it!!
'''

In [29]:
for num in range(1,100):
    cifras = str(num).split()
    for cifra in cifras:
        i=0
        k=1
        print(int(cifras[i])**k)
        i+=1
        k+=1

IndentationError: unexpected indent (2564901624.py, line 2)

In [34]:
a = 1
b = 100
output = []
for i in range(a, b+1):
    if i < 10:
        output.append(i)
    else:
        out = 0
        for index, value in enumerate(str(i)):
            out += int(value)**(index+1)
    if out == i:
        output.append(i)
        
print(output)

[1, 1, 2, 3, 4, 5, 6, 7, 8, 9, 89]

In [31]:
i = 135
out = 0
for index, value in enumerate(str(i)):
    print(index,value)
    out += int(value)**(index+1)
out

0 1
1 3
2 5

135

In [ ]:
def sum_dig_pow(a, b): # range(a, b + 1) will be studied by the function
    # your code here
    return []

In [ ]:
'''
Complete the solution so that the function will break up camel casing, using a space between words.

Example
"camelCasing"  =>  "camel Casing"
"identifier"   =>  "identifier"
""             =>  ""

'''

In [40]:
palabra = "camelCasing"
palabra1 = ''
for index,letra in enumerate(palabra):
    if letra != letra.upper:
        palabra1.append(letra)

palabra1

AttributeError: 'str' object has no attribute 'append'

In [ ]:
def solution(s):
    string = ''
    for letra in s:
        if letra >= 'A' and letra <= 'Z':
            string += ' ' + letra
        else:
            string += letra
    return string

In [ ]:
def solution(s):
    string = ''
    for letra in s:
        if letra.isupper():
            string += ' ' + letra
        else:
            string += letra
    return string

In [ ]:
'''
Take an integer n (n >= 0) and a digit d (0 <= d <= 9) as an integer.

Square all numbers k (0 <= k <= n) between 0 and n.

Count the numbers of digits d used in the writing of all the k**2.

Call nb_dig (or nbDig or ...) the function taking n and d as parameters and returning this count.

Examples:
n = 10, d = 1 
the k*k are 0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100
We are using the digit 1 in: 1, 16, 81, 100. The total count is then 4.

nb_dig(25, 1) returns 11 since
the k*k that contain the digit 1 are:
1, 16, 81, 100, 121, 144, 169, 196, 361, 441.
So there are 11 digits 1 for the squares of numbers between 0 and 25.
Note that 121 has twice the digit 1.
'''

In [47]:
n = 10
d = 2
listaCuadrado = []

for i in range(0,n+1):
    listaCuadrado.append(i*i)
for k in listaCuadrado:
    if str(d) in str(k):
        print(k)

25

In [52]:
n = 25
d = 1
listaCuadrado = []

for i in range(0,n+1):
    listaCuadrado.append(i*i)
    suma = 0
for k in listaCuadrado:
    suma += str(k).count(str(d))
suma

11

In [ ]:
n = 10
d = 1
listaCuadrado = []

for i in range(0,n+1):
    listaCuadrado.append(i*i)
    suma = 0
for k in listaCuadrado:
    suma += str(k).count(str(d))
suma

In [ ]:
def nb_dig(n, d):
    suma = 0
    for el in str(numero**2) for numero in range(0,n+1)
        suma += str(k).count(str(d))
    return suma

In [49]:
def nb_dig(n, d):
    listaCuadrado = []

    for i in range(0,n+1):
        listaCuadrado.append(i*i)

    for k in listaCuadrado:
        if str(d) in str(k):
            return k

In [ ]:
'''
Your function takes two arguments:

current father's age (years)
current age of his son (years)
Ð¡alculate how many years ago the father was twice as old as his son (or in how many years he will be twice as old). The answer is always greater or equal to 0, no matter if it was in the past or it is in the future.

'''

In [63]:
dad_years = 43
son_years = 25

if dad_years/son_years >=2:
    print(dad_years%son_years)
    
if dad_years/son_years <2:
    print(son_years*2-dad_years)

7

In [61]:
def twice_as_old(dad_years_old, son_years_old):
    pass

In [67]:
def twice_as_old(a, b):
    x = a - b*2
    if x>=0: return x
    else:  return -x

In [69]:
twice_as_old(47, 30)

13

In [ ]:
'''
In this kata you will create a function that takes a list of non-negative integers and strings and returns a new list 
with the strings filtered out.

Example
filter_list([1,2,'a','b']) == [1,2]
filter_list([1,'a','b',0,15]) == [1,0,15]
filter_list([1,2,'aasf','1','123',123]) == [1,2,123]

'''

In [72]:
l = [1,2,'a','b']

filter_list=[]
for elem in l:
    if type(elem)==int and elem > 0:
        filter_list.append(elem)

In [73]:
[el for el in l if type(el)==int]

[1, 2]

In [74]:
[el for el in l if isinstance(el,int)]

[1, 2]

In [ ]:
'''
altERnaTIng cAsE <=> ALTerNAtiNG CaSe
altERnaTIng cAsE <=> ALTerNAtiNG CaSe
Define String.prototype.toAlternatingCase (or a similar function/method such as 
to_alternating_case/toAlternatingCase/ToAlternatingCase in your selected language; see the initial solution for details) 
such that each lowercase letter becomes uppercase and each uppercase letter becomes lowercase. For example:

"hello world".toAlternatingCase() === "HELLO WORLD"
"HELLO WORLD".toAlternatingCase() === "hello world"
"hello WORLD".toAlternatingCase() === "HELLO world"
"HeLLo WoRLD".toAlternatingCase() === "hEllO wOrld"
"12345".toAlternatingCase() === "12345" // Non-alphabetical characters are unaffected
"1a2b3c4d5e".toAlternatingCase() === "1A2B3C4D5E"
"String.prototype.toAlternatingCase".toAlternatingCase() === "sTRING.PROTOTYPE.TOaLTERNATINGcASE"
As usual, your function/method should be pure, i.e. it should not mutate the original string.

'''

In [82]:
palabra = "hElLO woRLd"
palabraFormateada = []
for i in palabra:
    if i.isupper():
        palabraFormateada.append(i.lower())
    else:
        palabraFormateada.append(i.upper())
palabraFormateada

''.join(palabraFormateada)

'HeLlo WOrlD'

In [76]:
string = 'hOLa'

''.join[s.lower() if s.isupper() else s.upper for s in string]

SyntaxError: invalid syntax (766358135.py, line 3)

In [ ]:
'''
Your task is to sort a given string. Each word in the string will contain a single number. This number is the position the word
should have in the result.

Note: Numbers can be from 1 to 9. So 1 will be the first word (not 0).

If the input string is empty, return an empty string. The words in the input String will only contain valid consecutive numbers.

Examples
"is2 Thi1s T4est 3a"  -->  "Thi1s is2 3a T4est"
"4of Fo1r pe6ople g3ood th5e the2"  -->  "Fo1r the2 g3ood 4of th5e pe6ople"
""  -->  ""
'''

In [84]:
entrada = "is2 Thi1s T4est 3a"

analisis = entrada.split()

i=0
k=0

for str(i) in range(0,len(analisis)+1):
    for char in analisis[i]:
        if char == str(i):

['is2', 'Thi1s', 'T4est', '3a']

In [85]:
sentence = "4of Fo1r pe6ople g3ood th5e the2"
s = []
for a in range(1,10):
    for b in sentence.split():
        if str(a) in b:
            s.append(b)
print(' '.join(s))

Fo1r the2 g3ood 4of th5e pe6ople

In [ ]:
'''
Given an integer as input, can you round it to the next (meaning, "greater than or equal") multiple of 5?

Examples:

input:    output:
0    ->   0
2    ->   5
3    ->   5
12   ->   15
21   ->   25
30   ->   30
-2   ->   0
-5   ->   -5
etc.
Input may be any positive or negative integer (including 0).

You can assume that all inputs are valid integers.
'''

In [97]:
import math
math.ceil(1.1)

number = 6

print(5*math.ceil(num/5))
print(math.ceil(num/5))

6/5

100
20

1.2

In [98]:
n = 17

for k in range(5):
    if (n+k)%5 != 0:
        print(n+k)

17
18
19
21

In [99]:
while  n%5 !=0:
    n+=1
n

20

In [105]:
import math
n = 17
m = n/5
print(m)
print(math.ceil(5*m))

3.4
17

In [103]:
n=12
m = n//5+1
m

3