In [ ]:
'''
ENUNCIADO:

Given two arrays a and b write a function comp(a, b) (orcompSame(a, b)) that checks whether the two arrays have the "same" elements, with the same multiplicities (the multiplicity of a member is the number of times it appears). "Same" means, here, that the elements in b are the elements in a squared, regardless of the order.

Examples
Valid arrays
a = [121, 144, 19, 161, 19, 144, 19, 11]  
b = [121, 14641, 20736, 361, 25921, 361, 20736, 361]
comp(a, b) returns true because in b 121 is the square of 11, 14641 is the square of 121, 20736 the square of 144, 361 the square of 19, 25921 the square of 161, and so on. It gets obvious if we write b's elements in terms of squares:

a = [121, 144, 19, 161, 19, 144, 19, 11] 
b = [11*11, 121*121, 144*144, 19*19, 161*161, 19*19, 144*144, 19*19]
Invalid arrays
If, for example, we change the first number to something else, comp is not returning true anymore:

a = [121, 144, 19, 161, 19, 144, 19, 11]  
b = [132, 14641, 20736, 361, 25921, 361, 20736, 361]
comp(a,b) returns false because in b 132 is not the square of any number of a.

a = [121, 144, 19, 161, 19, 144, 19, 11]  
b = [121, 14641, 20736, 36100, 25921, 361, 20736, 361]
comp(a,b) returns false because in b 36100 is not the square of any number of a.

Remarks
a or b might be [] or {} (all languages except R, Shell).
a or b might be nil or null or None or nothing (except in C++, COBOL, Crystal, D, Dart, Elixir, Fortran, F#, Haskell, Nim, OCaml, Pascal, Perl, PowerShell, Prolog, PureScript, R, Racket, Rust, Shell, Swift).
If a or b are nil (or null or None, depending on the language), the problem doesn't make sense so return false.

Note for C
The two arrays have the same size (> 0) given as parameter in function comp.
'''

In [3]:
a = [121, 144, 19, 161, 19, 144, 19, 11]  
b = [121, 14641, 20736, 361, 25921, 361, 20736, 361]

def comp(array1, array2):
    i = 0
    aBis = []
    while i < len(a)-1:
        for el in array1:
            aBis.append(el**2)
    resultado = []
    for el in aBis:
        if el in array2:
            resultado.append(True)
        else:
            resultado.append(False)
    print(resultado)
    return resultado

In [4]:
comp(a,b)

MemoryError:

In [ ]:
a = [121, 144, 19, 161, 19, 144, 19, 11]  
b = [121, 14641, 20736, 361, 25921, 361, 20736, 361]

def comp(array1, array2):
    i = 0
    resultado = []
    while i < len(a)-1:
        for el in array1:
            if el**2 in array2:
                resultado.append(True)
                i+=1
            else:
                resultado.append(False)
                i+=1
    return resultado

In [ ]:
comp(a,b)

In [ ]:
a1 = [121, 144, 19, 161, 19, 144, 19, 11]  
a2 = [121, 14641, 20736, 361, 25921, 361, 20736, 361]

def comp(array1, array2):
    i = 0
    while i < len(a)-1:
        for el in array1:
            for el in array2:
                if (array1[i])**2 in array2:
                    print(True)
                    i+=1
                else:
                    print(False)
                    i+=1

In [ ]:
# Solución de Rafa

In [11]:
import math

a = [121, 144, 19, 161, 19, 144, 19, 11]  
b = [121, 14641, 20736, 361, 25921, 361, 20736, 361]

def comp(a1,a2):
    s1 = set(a1)
    s2 = set(a2)

    for s in s1:
        if s**2 not in s2:
            return False
    for s in s2:
        if math.sqrt(s) not in s1:
            return False
    return True

In [12]:
comp(a,b)

True

In [ ]:
'''
Enunciado 2
Complete the solution so that it reverses the string passed into it.

'world'  =>  'dlrow'
'word'   =>  'drow'
'''

In [13]:
def solution(string):
    string2 = []
    for letra in string:
        string2.append(letra)
    string2.reverse()
    return ''.join(string2)

In [14]:
solution('abracadabra')

'arbadacarba'

In [ ]:
# Mejor

def solution(string):
    return ''.join.reversed(string)

'''
tambien con [::-1]
'''

In [15]:
solution('abracadabra')

'arbadacarba'

In [ ]:
'''
Enunciado 3
Complete the solution so that it returns true if the first argument(string) passed in ends with the 2nd argument (also a string).

Examples:

solution('abc', 'bc') # returns true
solution('abc', 'd') # returns false
'''

In [18]:
def solution(string, ending):
    i = -1
    for letra in ending:
        if ending[i] == string[i]:
            i-=1
            return True
        else:
            return False

In [22]:
solution('abcd','bcd')

True

In [ ]:
# Corrección Rafa
def solution(string, ending):
        return string[-len(ending):] == ending

In [23]:
solution('juan','an')

True

In [ ]:
'''
Your goal in this kata is to implement a difference function, which subtracts one list from another and returns the result.

It should remove all values from list a, which are present in list b keeping their order.

array_diff([1,2],[1]) == [2]
If a value is present in b, all of its occurrences must be removed from the other:

array_diff([1,2,2,2,3],[2]) == [1,3]
'''

In [3]:
def array_diff(a, b):
    for elb in b:
        for ela in a:
            if elb in a:
                a.remove(elb)
    return a

In [4]:
array_diff([1,3,2,3,4,3,5,3,6,3],[3])

[1, 2, 4, 5, 6]

In [6]:
# Mejor con comprensión de listas

a = [1,2,3,3,4,4]
b = [1,4]

[el for el in a if el not in b]

[2, 3, 3]

In [18]:
def array_diff2(a, b):
    return [el for el in a if el not in b]

In [19]:
a = [1,2,3,3,4,4]
b = [1,4]

array_diff2(a,b)

[2, 3, 3]

In [ ]:
'''
The goal of this exercise is to convert a string to a new string where each character in the new string is "(" if that character appears only once in the original string, or ")" if that character appears more than once in the original string. Ignore capitalization when determining if a character is a duplicate.

Examples
"din"      =>  "((("
"recede"   =>  "()()()"
"Success"  =>  ")())())"
"(( @"     =>  "))((" 
Notes
Assertion messages may be unclear about what they display in some languages. If you read "...It Should encode XXX", the "XXX" is the expected result, not the input!
'''

In [16]:
def duplicate_encode(word):
    word = word.lower()
    coded = []
    for letra in word:
        word.count(letra)
        if word.count(letra) <= 1:
            coded.append('(')
        else:
            coded.append(')')
    return ''.join(coded)

In [17]:
duplicate_encode('antonio')

'()())()'

In [21]:
def codificador_duplicados(palabra):
    palabra = palabra.lower()
    resultado = ''
    for letra in palabra:
        if palabra.count(letra) == 1:
            resultado += '('
        else:
            resultado +=')'

    return resultado

In [22]:
codificador_duplicados('antonio')

'()())()'

In [ ]:
'''
There is a bus moving in the city, and it takes and drop some people in each bus stop.

You are provided with a list (or array) of integer pairs. Elements of each pair represent number of people get into bus (The first item) and number of people get off the bus (The second item) in a bus stop.

Your task is to return number of people who are still in the bus after the last bus station (after the last array). Even though it is the last bus stop, the bus is not empty and some people are still in the bus, and they are probably sleeping there :D

Take a look on the test cases.

Please keep in mind that the test cases ensure that the number of people in the bus is always >= 0. So the return integer can't be negative.

The second value in the first integer array is 0, since the bus is empty in the first bus stop.
'''

In [23]:
def total(a):
    suben=[]
    bajan=[]
    for i in a:
        suben.append(i[0])
        bajan.append(i[1])
    totalsuben=sum(suben)
    totalbajan=sum(bajan)
    total= totalsuben - totalbajan
    return total
total([[10,0],[3,5],[5,9]])

# Se puede hacer con una sola lista (por ejemplo pasajeros) en lugar de con dos (suben y bajan) para luego restarlo)

4

In [ ]:
'''
Write Number in Expanded Form
You will be given a number and you will need to return it as a string in Expanded Form. For example:

expanded_form(12) # Should return '10 + 2'
expanded_form(42) # Should return '40 + 2'
expanded_form(70304) # Should return '70000 + 300 + 4'
NOTE: All numbers will be whole numbers greater than 0.

If you liked this kata, check out part 2!!
'''

In [35]:
def expanded_form(num):
    numStr = str(num)
    cifras = len(numStr)
    if cifras

In [36]:
expanded_form(32)

2

In [37]:
def expanded_form2(num):
    string = str(num)

    var = []
    for i, t in enumerate(string):
        if t != '0':
            var.append(t + '0'*(len(string)-1-i))

    return " + ".join(var)

In [39]:
expanded_form2(70304)

'70000 + 300 + 4'

In [40]:
# Otra manera:

res = []
n = 70304
while len(str(n))>1:
    div = int('1'+'0'*(len(str(n))-1))
    print(div)
    aux = n
    aux = n%div
    res.append(n-aux)
    n=aux
res.append(n)
res

10000
100

[70000, 300, 4]

In [ ]:
'''
Implement the function unique_in_order which takes as argument a sequence and returns a list of items without any elements with the same value next to each other and preserving the original order of elements.

For example:

unique_in_order('AAAABBBCCDAABBB') == ['A', 'B', 'C', 'D', 'A', 'B']
unique_in_order('ABBCcAD')         == ['A', 'B', 'C', 'c', 'A', 'D']
unique_in_order([1,2,2,3,3])       == [1,2,3]

'''

In [52]:
def unique_in_order(iterable):
    lista = []
    for el in iterable:
        lista.append(el)
        if len(lista) >=2:
            if lista[-2] == lista[-1]:
                lista.pop()
    return lista

In [53]:
unique_in_order('AAAABBBCCDAABBB')

['A', 'B', 'C', 'D', 'A', 'B']

In [54]:
unique_in_order('ABBCcAD')

['A', 'B', 'C', 'c', 'A', 'D']

In [55]:
unique_in_order([1,2,2,3,3])

[1, 2, 3]

In [ ]:
Build a function that returns an array of integers from n to 1 where n>0.

Example : n=5 --> [5,4,3,2,1]

In [62]:
def reverse_seq(n):
    lista = []
    for i in range(n,0,-1):
        lista.append(i)
    return lista

In [63]:
reverse_seq(6)

[6, 5, 4, 3, 2, 1]

In [ ]:
# DIA 2

In [ ]:
'''
This time no story, no theory. The examples below show you how to write function accum:

Examples:
accum("abcd") -> "A-Bb-Ccc-Dddd"
accum("RqaEzty") -> "R-Qq-Aaa-Eeee-Zzzzz-Tttttt-Yyyyyyy"
accum("cwAt") -> "C-Ww-Aaa-Tttt"
The parameter of accum is a string which includes only letters from a..z and A..Z.
'''

In [ ]:
def accum(s):
    for i in s