# Lectura de archivos en Python

## Índice
1. [Manejo de archivos en Python](#manejo)
2. [Datos estructurados](#estru)
3. [Datos semiestructurados](#semi)
4. [Datos desestructurados](#deses)
5. [Amazon Web Services](#cloud)
6. [FTP](#ftp)

<a id="manejo"></a>
## Manejo de archivos en Python

Las principales funciones para el manejo de archivos en python son: `open()`, `close()`, `read()` y `write()`.

`open()` permite leer y escribir archivos. El primer argumento es el nombre del archivo y el segundo puede tomar los siguientes valores:
* `r`: abre el fichero en modo de solo lectura (modo por defecto)
* `r+`: abre el fichero en modo lectura y escritura
* `w`: abre el fichero en modo de solo escritura
* `a`: abre el fichero para incluir nueva información sobre él 
* `w+` y `a+`: Lectura y escritura (`a+` añade datos al final del archivo mientras que `w+` sobreescribe)

In [3]:
# Abro el fichero archivo.txt, que en caso de no existir, será creado en el directorio actual
f = open('archivo.txt', 'w')

NOTA: Para conocer el directorio actual, podemos utilizar el comando `pwd`

In [4]:
import os
os.getcwd()

'C:\\Users\\Victor\\Documents\\Data-Science-The-Bridge\\Data_Science_The_Bridge\\02-Data_analysis\\02-Procesos ETL\\01-Ficheros'

`write()`

In [5]:
# Escritura de datos con la función write()
f.write('Texto de prueba') # En el out me devuelve los caracteres introducidos

15

In [6]:
# Cierre del archivo
f.close()

<a id="estru"></a>
## Datos estructurados

Los archivos de datos estructurados consisten principalmente en archivos csv y Excel

### CSV
Los archivos **CSV** (comma-separated values) contienen información organizada por separadores. La librería pandas permite leer fácilmente este tipo de archivos  
<img src = "https://www.todavianose.com/wp-content/uploads/2018/04/file-icon-csv.png" width=10%>

In [7]:
import pandas as pd

In [13]:
# Leemos el fichero csv_example.csv
# datos = pd.read_csv('files/csv_example.csv') No separa las columnas
# Con sep=';' se lo indico

#datos = pd.read_csv('files/csv_example.csv', sep=';')

# Me ha cogido la primera fila como cabecera
# Lo arreglo con header= None
#datos = pd.read_csv('files/csv_example.csv', sep=';', header= None)
# Ahora tengo que poner nombre a las columnas
datos = pd.read_csv('files/csv_example.csv', sep=';', header= None,
                   names = ['Fecha','Evento','IdPais','IdUsuario','Fuente','Tema','id_user','age'])

datos.head()

,Fecha,Evento,IdPais,IdUsuario,Fuente,Tema,id_user,age
0,2018-01-01 00:01:01,read,country_7,2458151261,SEO,North America,NaN,NaN
1,2018-01-01 00:03:20,read,country_7,2458151262,SEO,South America,NaN,NaN
2,2018-01-01 00:04:01,read,country_7,2458151263,AdWords,Africa,NaN,NaN
3,2018-01-01 00:04:02,read,country_7,2458151264,AdWords,Europe,NaN,NaN
4,2018-01-01 00:05:03,read,country_8,2458151265,Reddit,North America,NaN,NaN

Podemos conocer los valores únicos de una columna con la función `unique()`

In [14]:
datos.Fuente.unique()

array(['SEO', 'AdWords', 'Reddit'], dtype=object)

### Excel

Para leer archivos Excel, podemos utilizar la función `read_excel()` de la librería pandas. Para ello necesitamos instalar las librerías:
* xlrd:  `conda install -c anaconda xlrd`
* openpyxl: `conda install -c anaconda openpyxl`

In [15]:
# Leemos el fichero excel_example.xlsx
usuarios = pd.read_excel('files/excel_example.xlsx')
usuarios.head()

      id_user  age
0  2458151261   22
1  2458151262   34
2  2458151263   22
3  2458151264   57
4  2458151265   28

In [16]:
# Unión de dataframes
datos_all = datos.merge(usuarios, left_on='IdUsuario', right_on='id_user')

datos_all.head()

,Fecha,Evento,IdPais,IdUsuario,Fuente,Tema,id_user_x,age_x,id_user_y,age_y
0,2018-01-01 00:01:01,read,country_7,2458151261,SEO,North America,NaN,NaN,2458151261,22
1,2018-01-01 00:03:20,read,country_7,2458151262,SEO,South America,NaN,NaN,2458151262,34
2,2018-01-01 00:04:01,read,country_7,2458151263,AdWords,Africa,NaN,NaN,2458151263,22
3,2018-01-01 00:04:02,read,country_7,2458151264,AdWords,Europe,NaN,NaN,2458151264,57
4,2018-01-01 00:05:03,read,country_8,2458151265,Reddit,North America,NaN,NaN,2458151265,28

In [18]:
# Calculamos la edad media en función del Tema
edad_media = datos_all[['Tema','age_y']].groupby('Tema', as_index=False).agg('mean')
edad_media

            Tema      age_y
0         Africa  42.640000
1           Asia  43.119940
2      Australia  43.619835
3         Europe  43.099379
4  North America  44.030675
5  South America  43.688034

In [19]:
# Guardamos el resultado en csv
edad_media.to_csv('edad_media.csv', index=False)

<a id="semi"></a>
## Datos semiestructurados

Los formatos más utilizados son XML y JSON

### XML
El formato **XML** (eXtensible Markup Language) es parecido al HTML, pero es más estructurado.
<img src="https://docs.adaptive-vision.com/current/studio/img/manual/XmlDescription.png">

 Los archivos XML forman una estructura de tipo árbol
<img src="https://www.cdn.geeksforgeeks.org/wp-content/uploads/parsing-XML.gif">

Vamos a leer el archivo XML cd_catalog con la librería `ElementTree`

Esta librería trata el XML como si fuese un árbol. En este formato de árbol, disponemos de diversos métodos con los que podemos extraer partes del XML. 

* `tag` muestra el texto dentro de la etiqueta
* `attrib` muestra los atributos de la etiqueta
* `text` muestra el texto del nodo
* La función `iter()` permite conocer la estructura del XML
* La función `find()` busca en el XML y devuelve el elemento que coincide con la etiqueta especificada.  
* La función `findall()` devuelve todos los elementos con cierta etiqueta

In [ ]:
# Para conocer todos los elementos del árbol

### <span style="color:red">**Do it yourself**</span> 
Lee el archivo `movies.xml`. ¿Cuál es la estructura del XML en forma de árbol? ¿Cuántas películas hay? ¿Qué generos distintos hay? ¿Cuáles es la película más antigua y la más reciente?

### JSON

**JSON** (JavaScript Object Notation) es un formato para el intercambios de datos. Un objeto json se forma con pares atributo-valor, éstos deben estar encerrados entre llaves { , } que es lo que definen el inicio y el fin del objeto.
Una de las mayores ventajas que tiene el uso de JSON es que puede ser leído por cualquier lenguaje de programación. En Python podemos utilizar la librería `json`, que trata los ficheros como combinaciones de listas y diccionarios

### <span style="color:red">**Do it yourself**</span> 
Transforma el json anterior a formato csv y guarda el archivo. Compara los tamaños de ambos formatos

NOTA: Los formatos CSV y JSON/XML son complementarios

<img src='https://aukera.es/blog/imagenes/tabla-codigo.png' width=55%>

Los formatos CSV son en general más compactos que los formatos XML y JSON, siendo esta su principal ventaja. Por otro lado, CSV es el formato menos versátil y no permite crear jerarquías en los datos. Por ejemplo, los siguientes datos contienen jerarquías y es más difícil de plasmar en una tabla:

```json
[
 {
  "student_id":1,
  "age":12,
  "subjects":{
   "mathematics":{
    "scores":[7,8,7,10],
    "final_score":8
   },
   "biology":{
    "scores":[6,6,5,7],
    "final_score":6
   }
  }
 }
]
```

En general, cuando trabajemos con datos tabulares, es recomendable utilizar el formato CSV

La estructura de un JSON puede ser bastante compleja. Es recomendable el uso de webs como [codebeautify.org](http://codebeautify.org) para representar los JSON en forma de árbol.  

Ejemplo: Accede al príncipe Harry en el archivo `data2.json`

<a id="deses"></a>
## Datos desestructurados

Los datos no estructurados se caracterizan por no tener un formato específico.
Se almacenan en múltiples formatos como documentos PDF o Word, correos electrónicos, ficheros multimedia de imagen, audio o video...

### TXT

Una forma de procesar cadenas de texto es a través de expresiones regulares. En python podemos utilizar la librería `re` y la función `findall()`
```
BASIC SYNTAX

.             One character except new line
\.            A period. \ escapes a special character.
\d            One digit
\D            One non-digit
\w            One word character including digits
\W            One non-word character
\s            One whitespace
\S            One non-whitespace
\b            Word boundary
\n            Newline
\t            Tab

MODIFIERS

$             End of string
^             Start of string
ab|cd         Matches ab or de.
[ab-d]	    One character of: a, b, c, d
[^ab-d]	   One character except: a, b, c, d
()            Items within parenthesis are retrieved
(a(bc))       Items within the sub-parenthesis are retrieved

REPETITIONS

[ab]{2}       Exactly 2 continuous occurrences of a or b
[ab]{2,5}     2 to 5 continuous occurrences of a or b
[ab]{2,}      2 or more continuous occurrences of a or b
+             One or more
*             Zero or more
?             0 or 1
(?:           group but don't capture
```

### <span style="color:red">**Do it yourself**</span> 
Obtén los valores de confianza y probabilidad de spam con otra expresión regular
```
X-DSPAM-Confidence: 0.8475  
X-DSPAM-Probability: 0.0000
```

Calcula el valor medio

<a id="cloud"></a>
## Amazon Web Services (AWS)

El Amazon Simple Storage Service (S3) es un servicio de almacenamiento de archivos para almacenar y acceder a datos en la infraestructura de AWS.  
Se han almacenado una serie de archivos relacionados con cuotas de apuestas en partidos de fútbol. Nos interesa cargar dichos archivos y unificarlos en una única tabla, con los siguientes campos:

* Partido (*match*)
* Equipo local (*hteam_name*)
* Equipo visitante (*ateam_name*)
* Cuota victoria (*price_oa*)
* Cuota derrota (*price_oh*)
* Casa de apuestas (*bookmaker_name*)

En primer lugar, instalamos la librería `boto3`, que facilita la integración de Python con los servicios de AWS  
```conda install -c anaconda boto3```

A continuación, nos conectamos a un recurso de AWS que contiene contenedores (buckets) con datos. Para ello necesitamos un *access key* y un *secret access key*

In [ ]:
s3 = boto3.resource('s3',
                    aws_access_key_id='AKIA2PDVAC3FBUO7QUUR',
                    aws_secret_access_key='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')

Podemos listar los buckets disponibles

El bucket de almacenamiento se llama `rafabucket9`

Listamos los ficheros dentro del bucket

In [ ]:
# Leemos uno de los ficheros: odds_121676695_2019-08-30_000046317959.json

Creamos un dataframe con todos los archivos

### <span style="color:red">**Do it yourself (0.2 puntos)**</span> 
Filtra el dataframe anterior para que las cuotas sean distintas de cero y calcula la cota media por cada partido y casa de apuestas. Subir el resultado al bucket `ejercicios9` en formato csv, poniendo tu nombre al fichero. Primero, guarda el dataframe a csv en local utilizando la función `to_csv()` de la librería pandas, y a continuación sube el fichero al storage utilizando la función `s3.meta.client.upload_file(Filename,Bucket,Key)`

<a id="ftp"></a>
## FTP

FTP (*File Transfer Protocol*) es un protocolo que permite traspasar archivos online. En Python, podemos utilizar FTP con la librería `ftplib`. Vamos a conectarnos a un servidor FTP utilizando la función `FTP()`, cuyos argumentos son:  
* Nombre del servidor: `f25-preview.runhosting.com` 
* Usuario:  `3185129_EOI`
* Contraseña: `FTP_EOI1920`

In [ ]:
ftp = ftplib.FTP('f31-preview.runhosting.com',"4009006_DATOS","Rafa9999")

In [ ]:
# Descargamos el archivo colors.json

In [ ]:
colores_df.style.applymap(lambda x:"background-color: %s"%x, subset=['code'])

Otras funciones:  
`FTP.getwelcome()` – Obtiene el mensaje de bienvenida.  
`FTP.mkd(ruta)` – Crea un directorio, se le pasa como argumento de entrada la ruta.  
`FTP.rmd(ruta)` – Elimina el directorio que le pasemos.  
`FTP.delete(fichero)` – Elimina el fichero que le pasamos como parámetro de entrada.  
`FTP.pwd()` – (Print Working Directory) Devuelve el directorio actual donde se encuentra.  
`FTP.cwd(ruta)` – (Change Working Directory) Cambia de directorio.  
`FTP.dir(ruta)` – Devuelve un listado de directorios.  
`FTP.nlst(ruta)` – Devuelve un listado con los nombres de arcivo del directorio.  
`FTP.size(archivo)` – Devuelve el tamaño del fichero que le pasamos.  
`FTP.rename(oringen, destino)` – Renombra un fichero.